.NotificationsWidget {
    position: fixed;
    top: 100px;
    right: 50px;
    z-index: 11;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.NotificationsWidget .notification {
    background-color: #333;
    color: #fff;
    font-family: "GT Light";
    padding: 10px 34px 10px 10px;
    position: relative;
    border-radius: 5px;
    width: 260px;
    box-shadow: 1px 1px 2px 1px #242424;
    font-size: 1.3rem;
}
.NotificationsWidget .notification .p:after {
    content: " ";
}
.NotificationsWidget .notification .l {
    color: #00f;
}
.NotificationsWidget .notification .l:focus {
    outline: none;
    border: none;
}
.NotificationsWidget .notification .l:hover {
    text-decoration: underline;
}
.NotificationsWidget .notification.success {
    background-color: #009225;
}
.NotificationsWidget .notification.danger {
    background-color: #c0392b;
}
.NotificationsWidget .notification.normal {
    background-color: #2c3e50;
}
.NotificationsWidget .notification .delete {
    position: absolute;
    right: 12px;
    top: calc(50% - 2px);
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    padding: 5px;
    border-radius: 50%;
    color: #bbb;
}
.NotificationsWidget .notification .delete:hover {
    color: #fff;
    transform: scale(1.1) translateY(calc(-50% + 2px));
}
.NotificationsWidget .notification .delete .icon {
    width: 25px;
    height: 25px;
}