.balancePage {
    padding: 0 15px;
}
.balancePage .header {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.balancePage .header .p {
    color: #fff;
    text-align: center;
    flex: 2;
    padding: 15px;
    border-radius: 7px;
}
.balancePage .header .p:nth-child(1) {
    background-color: #3498dbaa;
}
.balancePage .header .p:nth-child(2) {
    background-color: #2ecc71aa;
}
.balancePage .header .p:nth-child(3) {
    background-color: #e67e22aa;
}
.balancePage .header .p.w {
    flex:none;
    background-color: #e67e22;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
.balancePage .header .p.w:hover {
    background-color: #e67e22aa;
}
.balancePage .header .p .label {
    font-family: "GT Bold";
    font-size: 1.3rem;
    display: block;
    margin-bottom: 5px;
}
.balancePage .header .p .n {
    font-family: "GT Medium";
    font-size: 1.2rem;
}
.balancePage .header .p .symbol {
    font-family: "GT Light";
    font-size: 1rem;
}
.balancePage .header .p .icon {
    width: 50px;
    fill: #fff;
}
.balancePage .block:nth-child(2) {
    margin-top: 30px;
}
.balancePage .block .title {
    font-size: 1.6rem;
    font-family: "GT Medium";
    color: #f0f0f0;
    padding-bottom: 10px;
    border-bottom: 1px solid #333;
}
.balancePage .block .content {
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 15px;
}
.balancePage .block .content .record {
    display: flex;
    justify-content: space-between;
}
.balancePage .block .content .record .label {
    font-family: "GT Light";
    color: #fff;
    font-size: 1.4rem;
}
.balancePage .block .content .record .n {
    color: #fff;
    font-size: 1.6rem;
    font-family: "GT Medium";
    display: flex;
    align-items: center;
}
.balancePage .block .content .record .n.pos {
    color: #27ae60;
}
.balancePage .block .content .record .n.neg {
    color: #c0392b;
}
.balancePage .block .content .record .n.med {
    color: rgb(201, 187, 0)
}
.balancePage .block .content .record .n.pos:before {
    content: "+ ";
}
.balancePage .block .content .record .n.neg:before {
    content: "- ";
}
.balancePage .block .content .record .n.med:before {
    content: "= ";
}


.popOver {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #aaa7;
    z-index: 20;
}
.popOver .pop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0f1011;
    padding: 15px;
    border-radius: 5px;
}
.popOver .pop .title {
    color: #fff;
    font-size: 1.5rem;
    font-family: "GT Bold";
    margin-bottom: 10px;
    text-align: center;
}
.popOver .pop .row {
    font-family: "GT Medium";
    align-items: center;
}

.row.genresRow {
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}
.row.genresRow select {
    width: 100%;
    padding: 5px;
}
.popOver .pop .form .row .genres {
    display: flex;
    gap: 3px;
    flex-wrap: wrap;
}
.popOver .pop .form .row .genres .genre {
    color: #fff;
    border-radius: 5px;
    font-size: 0.9rem;
    padding: 4px 5px;
    font-family: "GT LIGHT";
    display: flex;
    gap: 5px;
    align-items: center;
}
.popOver .pop .form .row .genres .genre .delete {
    background-color:#e74c3c;
    color: #fff;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    width: 17px;
    height: 17px;
}
.popOver .pop .form .row .genres .genre .delete:hover {
    background-color: #c0392b;
}
.popOver .pop .form .row .input {
    flex: 1;
    padding: 8px;
    outline: none;
    width: 100%;
    background-color: #070707;
    border: 1px solid #aaa;
    color: #eee;
    border-radius: 5px;
}
.popOver .pop .form .row .input:focus {
    outline: none;
    border: 2px solid #2980b9;
}
.popOver .pop .form .row.i {
    flex-direction: column;
    justify-content: center;
}
.stars {
    text-align: center;
}
.stars .star {
    width: 40px;
    height: 40px;
}
.sendBtn {
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    font-size: 1.1rem;
    font-family: "GT MEDIUM";
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    background-color: #27ae60;
    transition: all 0.5s ease-in-out;
}
.sendBtn:hover {
    background-color: #27ae60;
}
.email {
    margin: 10px 0;
}
.email .label {
    font-size: 1.1rem;
    color: #fff;
    font-family: "GT LIGHT";
}
.email .input {
    padding: 3px;
    font-size: 1.1rem;
    border: none;
    outline: none;
    font-family: "GT LIGHT";
}
@media screen and (max-width: 600px) {
    .balancePage .header {
        flex-direction: column;
        gap: 5px;
    }
    .balancePage .header .p {
        padding: 5px;
    }
    .balancePage .header .p .label {
        font-size: 1.1rem;
    }
    .balancePage .header .p .n {
        font-size: 1rem;
    }
    .balancePage .header .p .symbol {
        font-size: 0.9rem;
    }
}
@media screen and (max-width: 425px) {
    .balancePage .block .content .record .label {
        font-size: 1.2rem;
    }
    .balancePage .block .content .record .n {
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 375px) {
    .balancePage .block .content .record .label {
        font-size: 1.1rem;
    }
    .balancePage .block .content .record .n {
        font-size: 1.1rem;
    }
}