@font-face {
    font-family: 'GT Bold';
    src: url('../assets/fonts/walsheim/GTWalsheimPro-Bold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-family: 'GT Medium';
    src: url('../assets/fonts/walsheim/GTWalsheimPro-Medium.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'GT Light';
    src: url('../assets/fonts/walsheim/GTWalsheimPro-Light.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }