.gridContainer {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 320px;
    grid-auto-rows: 320px;
    grid-gap: 20px;
    padding-bottom: 50px;
}

.noGrid {
    padding-top: 35px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 500px;
    grid-auto-columns: 500px;
    grid-template-rows: 400px;
    grid-auto-rows: 400px;
    grid-gap: 20px;
    padding-bottom: 50px;
}

.reviews {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reviews h2 {
    font-size: 3em;
    font-family: "GT Bold";
    color: white;
}

.reviews h3 {
    color: #ccc;
}

.gridContainer.c4 {
    /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
}

@media screen and (max-width: 1700px) {
    .gridContainer {
        grid-template-rows: 290px;
        grid-auto-rows: 290px;
    }
}

@media screen and (max-width: 1450px) {
    .gridContainer {
        grid-template-rows: 325px;
        grid-auto-rows: 325px;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1350px) {
    .gridContainer {
        grid-template-rows: 305px;
        grid-auto-rows: 305px;
    }
}

@media screen and (max-width: 1240px) {
    .gridContainer {
        grid-template-rows: 290px;
        grid-auto-rows: 290px;
    }
}

@media screen and (max-width: 1240px) {
    .gridContainer {
        grid-template-rows: 370px;
        grid-auto-rows: 370px;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 1100px) {
    .gridContainer {
        grid-template-rows: 355px;
        grid-auto-rows: 355px;
    }
}

@media screen and (max-width: 1050px) {
    .gridContainer {
        grid-template-rows: 330px;
        grid-auto-rows: 330px;
    }
}

@media screen and (max-width: 975px) {
    .gridContainer {
        grid-template-rows: 285px;
        grid-auto-rows: 285px;
    }
}

@media screen and (max-width: 850px) {
    .gridContainer:not(.c4) {
        grid-template-columns: 1fr;
    }
    .gridContainer {
        grid-template-rows: 390px;
        grid-auto-rows: 390px;
        justify-items: center;
    }
}

@media screen and (max-width: 710px) {
    .gridContainer {
        grid-template-rows: 360px;
        grid-auto-rows: 360px;
    }
}

@media screen and (max-width: 650px) {
    .gridContainer {
        grid-template-rows: 335px;
        grid-auto-rows: 335px;
    }
    .gridContainer.c4 {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 600px) {
    .gridContainer {
        grid-template-rows: 450px;
        grid-auto-rows: 450px;
    }
}

@media screen and (max-width: 525px) {
    .gridContainer {
        grid-template-rows: 420px;
        grid-auto-rows: 420px;
    }
}

@media screen and (max-width: 475px) {
    .gridContainer {
        grid-template-rows: 390px;
        grid-auto-rows: 390px;
    }
}

@media screen and (max-width: 425px) {
    .gridContainer {
        grid-template-rows: 340px;
        grid-auto-rows: 340px;
    }
}

@media screen and (max-width: 375px) {
    .gridContainer {
        grid-template-rows: 310px;
        grid-auto-rows: 310px;
    }
}

@media screen and (max-width: 320px) {
    .gridContainer {
        grid-template-rows: 285px;
        grid-auto-rows: 285px;
    }
}


.gridContainer .add {
    width: 285px;
    position: relative;
    background-color: #202020;
    border-radius: 12px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
.gridContainer .add:hover {
    background-color: #2d2d2d;
}
.gridContainer .add svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #fff;
    width: 100px;
    height: 100px;
}